##### Fichiers objets, bibliothèques et dépendances
*.o
*.s
*.a
*.d
*.Td
*.lib
*.so
*.dylib
*.dll
*.dSYM

##### Executables
*.exe
a.out
sokoban
sokoban_test

##### Bibliothèque SDL2
bin/
include/SDL2/
lib/
share/
SDL2/Makefile
SDL2/Makefile.rules
SDL2/config.log
SDL2/config.status
SDL2/include/SDL_config.h
SDL2/include/SDL_revision.h
SDL2/libtool
SDL2/sdl2-config
SDL2/sdl2-config.cmake
SDL2/sdl2.pc
SDL2/build/

##### Générateur de documentation
doc/doxygen/

##### Générateur d'archive
ERKEN_Efe.tar.gz

##### Divers
.ds_store
.DS_store
.DS_Store
.DS_STORE
.vscode/
