##### Fichiers objets, bibliothèques et dépendances
*.o
*.s
*.a
*.d
*.Td
*.lib
*.so
*.dylib
*.dll
*.dSYM

##### Executables
*.exe
a.out
sokoban
sokoban_test

##### Générateur de documentation
doc/public/

##### Générateur d'archive
ERKEN_Efe.tar.gz

##### Divers
.ds_store
.DS_store
.DS_Store
.DS_STORE
.vscode/
.python-version
